<div class="container">


    <div class="center">
   <%=image_tag 'muscleflow_logo.png',:alt => "Muscle Flow logo"%>




	    <div class="promo">

	     <p>muscleflow.net coming soon</p>

	   </div>

   </div>

 







</div>