html,body{
	height: 100%;
	margin: 0;
	font: normal 110% "League Gothic", "Arial Narrow", Arial, sans-serif;
	text-transform: uppercase;

}


img{
	max-width: 100%;
}


.wrapper{
	width: 100%;
	min-height: 100%;
	position: relative;
	
}


header{
	width: 100%;
	top:0;
	left: 0;
	height: 20px;
	margin: 0 auto;
	position: relative;
	background:  #B70501;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


.center{
	width:50%;
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 8.3333%;
}

.promo{
	width: 50%;
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;

}

.promo p {

	
}




